.header {
    background-color: rgba(255, 0, 0, 0.377);
    height: 100%;
    width: 100%;
    font-family: 'Oswald', sans-serif;

}
.container {
   background-color: rgba(253, 251, 251, 0.836);
   height: auto;
   width: 100%;

}
#rwordiv{
    border-bottom: black;
    border-style: solid;
    height: 400px;
    width: 100%;
    font-family: font-family: 'Oswald', sans-serif;
}
#rightwords{
    font-size: 50px;
    font-family: 'Oswald', sans-serif;
}
#uword{
    background-color: pink;
    height: 300px;
    width: 100%;
    font-family: 'Oswald', sans-serif;
}
#wordtiles{
    background-color: orange;
    height: 300px;
    width: 100;
    font-family: 'Oswald', sans-serif;
}