.header {
    background-color: red;
    height: 100%;
    width: 100%;

}
.container {
   background-color: blue;
   height: auto;
   width: 100%;

}
#rwordiv{
    background-color: green;
    height: 400px;
    width: 100%;
}
#rightwords{
    font-size: 50px;
}
#uword{
    background-color: pink;
    height: 300px;
    width: 100%;
}
#wordtiles{
    background-color: orange;
    height: 300px;
    width: 100;
}